/app export-ignore
/config export-ignore
/dev export-ignore
/docker export-ignore
/public export-ignore
/tests export-ignore
/.dockerignore export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php-cs-fixer.php export-ignore
/compose.yaml export-ignore
/composer.lock export-ignore
/justfile export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/rector.php export-ignore
/routes.php export-ignore